@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
<h4>
    <i>
  *  this management sysyem provides you easier finding your favourite books <br />
        <br />
   * easier to store your info <br />
        <br />
    * save your time and your money <br />
        <br />

        </i>
    </h4>
</p>
