@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Digital library management system</h3>

<address>
    Tanta<br />
    sibrbay, <br />
    phone
    <abbr title="Phone">P:</abbr>
    047.1222...
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>